.wrapper {
    @apply relative flex flex-col items-center justify-center;

    .btn_dark {
        svg {
            @apply w-5 h-5;
        }

        @apply relative flex items-center justify-center w-10 h-10 bg-darkgray rounded-full p-1 hover:bg-lightgray duration-100;
    }

    .title {
        background: #5b5b5b;
        @apply text-xs px-2 py-2 absolute left-auto -bottom-10 rounded-lg w-max;
        transition: all;
        animation: hover 0.3s ease forwards;
    }

    .btn_light {
        @apply relative flex items-center justify-center w-10 h-10 bg-black rounded-full p-1 hover:bg-darkgray duration-100;

        svg {
            @apply w-5 h-5;
        }
    }
}

@keyframes hover {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
